.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: var(--blue);
  line-height: 51px;
  font-size: 3.6em;
  font-weight: var(--weight-normal);
  transition: 1s;
}

.feynman__link:hover {
  opacity: 0.5;
}

.feynman__link::after {
  content: '\2192';
  margin-right: 5px;
}
